[Desktop Entry]
Name=VimWiki
GenericName=Text Editor
Comment=A personal wiki for Vim
TryExec=vim
Exec=vim -c VimwikiIndex
Terminal=true
Type=Application
Keywords=Text;editor;
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=false
